feedparser
pyzmq
argon2-cffi
beautifulsoup4 
selenium 
webdriver-manager 
playwright 
cloudscraper 
nest_asyncio 
tabulate
markdownify
psycopg2-binary
tqdm
python-logging-loki
grpcio
requests
pytest
protobuf